@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div> <h1>Microsoft QnA Maker</h1></div>
<iframe src='https://webchat.botframework.com/embed/sunsuperfaq-bot?s=bAyUa8dMsFo.pOMxhZHieeJs-PkAUVQUXqr9LyAmOhB_hekJI11dBq0' 
        style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
<div> <h1>Google Dialogflow</h1></div>
<iframe allow="microphone;" src="https://bot.dialogflow.com/6ecfea98-784f-4908-939b-99551604ef83"
        style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>